.countainer. {
  width: 1024px;
}

.currentCity {
  margin-bottom: 20px;
}

.currentDay{
  text-transform: capitalize;
}

#city,
#description {
  text-align: left;
  margin: 0%;
}



#search {
  padding: 20px;
}

#todaysDate,
#todaysHour {
  display: block;
  text-align: right;
}


.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.icon {
  width: 60px;
}

#iconPrincipal {
  width: 60px;
}
