.countainer. {
  width: 1024px;
}

.currentCity {
  margin-bottom: 20px;
}

.currentDay {
  text-align: center;
}

#city,
#description {
  text-align: center;
  margin: 0%;
}

#description:first-letter {
  text-transform: capitalize;
}

#iconPrincipal {
    width: 120px;
}

#search {
  padding: 20px;
}

#todaysDate {
  display: block;
  text-align: right;
  padding-bottom: 10px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.icon {
  width: 60px;
}
